<div>
  <%= h1 t(".title"), class: "my-default" %>

  <div class="scaffold-buttons my-default">
    <%= show_lnk_to user_setting_path(@setting.user, @setting), record: @setting, type: :button %>
  </div>

  <%= render "form", setting: @setting %>
</div>
