<div>
  <%%= h1 t(".title"), class: "my-default" %>

  <div class="scaffold-buttons my-default">
    <%%= show_lnk_to @<%= file_name %>, type: :button %>
    <%%= back_to_index_lnk_to <%= class_name %>, type: :button %>
  </div>

  <%%= render "form", <%= file_name %>: @<%= file_name %> %>
</div>
