<div>
  <div class="horizontal-center justify-between">
    <%%= h1 t(".title"), class: "my-default" %>
    <%%= new_lnk_to <%= class_name %>, type: :button %>
  </div>

  <div class="my-default">
    <%%= render "<%= file_name %>_index", <%= plural_file_name %>: @<%= plural_file_name %> %>
  </div>

  <%%= paginate @<%= plural_file_name %> %>
</div>
