<div>
  <div class="scaffold-buttons my-default">
    <%%= edit_lnk_to @<%= singular_table_name %> %>
    <%%= destroy_btn_to @<%= singular_table_name %> %>
    <%%= back_to_index_lnk_to <%= class_name %> %>
  </div>

  <%%= render "<%= singular_table_name %>", <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
