<div>
  <div class="scaffold-buttons my-default">
    <%%= edit_lnk_to @<%= file_name %>, type: :button %>
    <%%= destroy_btn_to @<%= file_name %> %>
    <%%= back_to_index_lnk_to <%= class_name %>, type: :button %>
  </div>

  <%%= render "<%= file_name %>", <%= file_name %>: @<%= file_name %> %>
</div>
