<div id="<%= dom_id post %>" class="index-post">
  <div class="my-default font-bold"><%= post.title %></div>

  <div class="scaffold-buttons my-default">
    <%= show_lnk_to post, type: :button %>
    <%= edit_lnk_to post, type: :button %>
  </div>
</div>
