<div>
  <%= h1 t(".title"), class: "my-default" %>

  <div class="scaffold-buttons my-default">
    <%= post_button_link @post %>
    <%= back_to_posts_button_link %>
  </div>

  <%= render "form", post: @post %>
</div>
