<div>
  <%= h1 t(".title"), class: "my-default" %>

  <div class="scaffold-buttons my-default">
    <%= show_lnk_to @post, type: :button %>
    <%= back_to_index_lnk_to Post, type: :button %>
  </div>

  <%= render "form", post: @post %>
</div>
