<div>
  <div class="horizontal-center justify-between">
    <%= h1 t(".title"), class: "my-default" %>
    <%= new_lnk_to Post, type: :button %>
  </div>

  <%= render "post_index", posts: @posts %>

  <%= paginate @posts %>
</div>
