<div>
  <div class="scaffold-buttons my-default">
    <%= edit_lnk_to @post, type: :button %>
    <%= destroy_btn_to @post %>
    <%= back_to_index_lnk_to Post, type: :button %>
  </div>

  <%= render @post %>
</div>
